
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">ไบไอเอส32 ไก่กา กะลา ขอนไม้ </a>
        </div>
        <ul class="nav navbar-nav">
            <li>
                <img src="/assets/images/myPic.png" width="155px" height="125px">
            </li>
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Page 1</a></li>
            <li><a href="#">Page 2</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            @if(session.get("uid") == null){
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="/loginForm"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            }else{
                <li>User logged: @session.get("uid"), @session.get("uname"), Status: @session.get("ustatus") </li>
                <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            }

        </ul>
    </div>
</nav>

